*{
    margin:0;
    padding :0;
}
body {
    background: linear-gradient(135deg, #0e3882 0%, #31d2f7 88%);
    font-size :24px;
}
header {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    background-color: #fcc0c0
}
.toplane{
    grid-column:3/11;
    font-size:16px;
}
.main{
    display:grid;
    grid-template-columns:repeat(12,1fr) ;
}
.left-bar{
    grid-column:1/3;
    color:aliceblue;
}
.central {
    grid-column: 3/11;
   /* background-color:#59ebfae6;*/
}
.right-bar {
    grid-column: 11/13;
}



/*LOGO*/



.logo {
    display: inline-flex;
    flex-direction: row;
    align-items :center;
    padding:7px;
}

.logo>div{
   display:inline-flex;
   flex-direction:column;
   align-items: flex-start;
   text-align: center;
   color:snow;
}

.logo>div>img{
    float:left;
}

/*NAVIGATE PANEL*/

.head {
display:flex;
justify-content:space-between;
}
.head>nav{
    display:flex;
    justify-content:center;
    justify-items:center;
    align-items:center;
}
.head>nav>ul{
    display:flex;
    list-style:none;
    color:snow;
}
.head>nav>ul>li{
    color:snow;
    display:block;
    padding:0.3em;
    border-style:solid;
    border-width:0.2px;
    border-radius:15px;
    margin-right:1em;
}
.head>nav>ul>li:hover{
    background-color:#26a1ff
}
.head>nav>ul>li>a{
    color:aliceblue;
}
.header-section{
   text-align:center;
}

.video {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    animation: myAnim 6s linear 0s infinite normal forwards;
}
@keyframes myAnim {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

.conteiner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items:center;
}

.box {
    background-color: #f6dbdb;
    display: flex;
    flex-direction: column;
    width:70%;
    height:fit-content;
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    margin-top: 10%;
    margin-bottom: 10%;
    box-shadow: 3px 3px 8px 0px #363636;
   
}


.features {
    display: flex;
    flex-direction: row-reverse;
}
.title-text {
    display: flex;
    flex-direction:column;
    padding-left: 4px;
    padding-right: 4px;
}
.title-text>ul>li{
    flex-direction:column;
    justify-content: space-between;
}

.title-text>ul{
    list-style: disc inside;

}
.prospect > .study {
    display: flex;
    flex-direction:column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.prospect>.conteiner{
    grid-template-columns:1fr 1fr;
}
footer{
    background-color:#f5e3e6
}
footer>.foot{
    display:flex;
    justify-content: center;
    justify-items: center;
    padding: 10px;
    font-size:17px;
}
