* {
    margin: 0;
    padding: 0;
}


body {
    font-size: 24px;
    background: linear-gradient(135deg, #0e3882 0%, #31d2f7 88%);
}

header {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    background-color: #fcc0c0
}

.toplane {
    grid-column: 3/11;
    font-size: 16px;
}

section {
    display: grid;
    grid-template-columns: repeat(12,1fr);
}
.main{
    grid-column:3/11;
}
/*NAVIGATE PANEL*/

.head{
    display:flex;
    justify-content:space-between;
    padding:15px;
}
.logo {
    display: inline-flex;
    flex-direction: row;
    align-items :stretch;
    color:aliceblue;
}

.logo>div{
   display:inline-flex;
   justify-content:center;
   flex-direction:column;
   text-align: center;
   align-items: flex-start
}

.logo>div>img{
    float:left;
}
.head>nav{
    display:flex;
    justify-content:center;
    justify-items:center;
    align-items:center;
}
.head>nav>ul{
    display:flex;
    list-style:none;
}
.head>nav>ul>li{
    color:snow;
    display:block;
    padding:0.5em;
    border-style:solid;
    border-width:0.2px;
    border-radius:15px;
    margin-right:1em;
}
.head>nav>ul>li:hover{
    background-color:#26a1ff
}
.head>nav>ul>li>a{
    color:aliceblue;
}

.header-section{
   text-align:center;
}
.card{
    padding:1em;
}
.card{
    font-size:20px;
}
.conteiner {
    display: flex;
    align-items: stretch
}
.about{
    text-decoration-line
}
.form{
    display:flex;
}
.form>div{
    margin:5px;
}

